<h2>Registro de Usuário</h2>
<form (ngSubmit)="register()" #userForm="ngForm">
  <div>
    <input
      type="text"
      id="name"
      [(ngModel)]="user.name"
      name="name"
      required
      placeholder="Nome"
    />
  </div>
  <div>
    <input
      type="email"
      id="email"
      [(ngModel)]="user.email"
      name="email"
      placeholder="Email"
      required
    />
  </div>
  <div>
    <input
      type="password"
      id="password"
      [(ngModel)]="user.password"
      name="password"
      placeholder="Senha"
      required
    />
  </div>
  <div>
    <select id="role" [(ngModel)]="user.role" name="role" required>
      <option value="" disabled>Selecione uma opção</option>
      <option value="user">Usuário</option>
      <option value="admin">Administrador</option>
    </select>
  </div>
  <button type="submit" [disabled]="userForm.invalid">Registrar</button>
</form>

<div>
  <p>Já possui uma conta? Faça <a routerLink="/login">Login</a></p>
</div>
