<app-task-menu></app-task-menu>
<div class="container col-lg-3">
  <div class="row">
    <div class="col-12">
      <h2>Adicionar Item</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form [formGroup]="addForm">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="nome">Novo item:</label>
              <input
                type="text"
                class="form-control"
                id="nome"
                name="nome"
                class="form-control is-invalid"
                [class.is-invalid]="
                  addForm.get('nome')?.errors && addForm.get('nome')?.touched
                "
                formControlName="nome"
              />
              <div class="invalid-feedback">Campo obrigatório</div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="categoria">Categoria:</label>
              <select
                class="form-control"
                [class.is-invalid]="
                  addForm.get('categoria')?.errors &&
                  addForm.get('categoria')?.touched
                "
                id="categoria"
                formControlName="categoria"
              >
                <option value="" disabled>Selecione uma opção</option>

                <option *ngFor="let cat of categorias" [value]="cat">
                  {{ cat }}
                </option>
              </select>
              <div class="invalid-feedback">Campo obrigatório</div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group d-flex align-items-center">
              <button
                type="submit"
                class="btn btn-primary mt-3"
                (click)="submitForm()"
              >
                Adicionar
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
