form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: auto;
}

label {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #3f51b5;
}

input,
select,
button {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

h2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #3f51b5;
  margin-top: 30px;
}

button + button {
  margin-top: 10px;
}

.erro {
  color: red;
  font-size: 14px;
  text-align: center;
  margin-top: -10px;
}
