<app-task-menu></app-task-menu>

<div class="container">
  <h2>Editar Tarefa</h2>
</div>

<form *ngIf="task" [formGroup]="editForm">
  <div class="form-group">
    <label for="nome">Novo item:</label>
    <input
      [(ngModel)]="task.nome"
      type="text"
      class="form-control"
      id="nome"
      name="nome"
      class="form-control is-invalid"
      [class.is-invalid]="
        editForm.get('nome')?.errors && editForm.get('nome')?.touched
      "
      formControlName="nome"
    />
    <div class="invalid-feedback">Campo obrigatório</div>
  </div>
  <div class="form-group">
    <label for="categoria">Categoria:</label>
    <select
      id="categoria"
      [(ngModel)]="task.categoria"
      name="categoria"
      required
      formControlName="categoria"
    >
      <option *ngFor="let cat of categorias" [value]="cat">{{ cat }}</option>
    </select>
  </div>
  <div class="form-group">
    <button type="submit" (click)="salvar()">Salvar</button>
    <button type="button" (click)="cancelar()">Cancelar</button>
  </div>
</form>

<div *ngIf="!task">
  <p class="alert alert-danger text-center w-25 mx-auto">
    Tarefa não encontrada.
  </p>
</div>
